
.BearOffPanel {
    height: 100%;
    width: 15%;
    background-color: #503200;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.Test {
    display: flex;
    flex-direction: column;
    background-color: rgb(80,50,0);
    box-shadow: -5px -5px 10px 2px rgba(0, 0, 0, 0.5) inset, 5px 5px 5px 5px rgba(0, 0, 0, 0) inset;
    height: 50%;
    border-top: solid 1px rgb(56, 36, 1);
    border-radius: 5px;
}

.Test2 {
    background-color:rgb(80,50,0);
    box-shadow: -5px -5px 10px 2px rgba(0, 0, 0, 0.5) inset, 5px 5px 5px 5px rgba(0, 0, 0, 0) inset;
    height: 50%;
    border-bottom: solid 1px rgb(56, 36, 1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.CanReceiveChecker {
    background-color: yellow;
}