.Board {
    display: flex;
    position: absolute;
    background-color: lightgray;
    width: 90%;
    height: 90%;
    
    margin: 10px;

}
.LeftPanel {
    height: 100%;
    width: 100%;
    background-color: lightsalmon;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  
}

.RightPanel {
    height: 100%;
    width: 100%;
    background-color: lightsalmon;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Spacer {
    background-color: #add8e6;
   
    height: 50px;
}

.VerticalSpacer {
    background-color: #94bfce;
    flex: 0 0 auto; /* prevent's changing size when text changes */
    width: 150px;
    height: 100%;
    box-shadow: inset 0px -20px 20px -2px rgba(48,85,111,.75);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.WhiteField {
    background-color: white;
}


.BlackField {
    background-color: black;
}

