:root {
    --whiteColor: #f0c89f;
    --blackColor: #6f5033;/* #753814; */
  }

.TriangleField {
    position: relative;
    display: flex;
    align-items: stretch;
    height: 100%;
    width: 100%;
}

.trianglePart {
  background-color: black;
  flex: 1 1 auto;
}

.MoveSelected {
  background-color: yellow;
}

.triangleLeftUpWhite {
  left: 0px;
  background: linear-gradient(to left top, var(--whiteColor) 0%, var(--whiteColor) 49%, transparent 51%);
}

.triangleLeftUpBlack {
  left: 0px;
  background: linear-gradient(to left top, var(--blackColor) 0%, var(--blackColor) 49%, transparent 51%);
}

.triangleRightUpWhite {
  left: 50%;
  background: linear-gradient(to right top,  var(--whiteColor) 0%, var(--whiteColor) 49%, transparent 51%);
}

.triangleRightUpBlack {
  left: 50%;
  background: linear-gradient(to right top,  var(--blackColor) 0%, var(--blackColor) 49%, transparent 51%);
}
.triangleLeftDownBlack {
  left: 0px;
  background: linear-gradient(to left bottom, var(--blackColor) 0%, var(--blackColor) 49%, transparent 51%);
}

.triangleLeftDownWhite {
  left: 0px;
  background: linear-gradient(to left bottom, var(--whiteColor) 0%, var(--whiteColor) 49%, transparent 51%);
}

.triangleRightDownBlack {
  left: 50%;
  background: linear-gradient(to right bottom,  var(--blackColor) 0%, var(--blackColor) 49%, transparent 51%);
}
.triangleRightDownWhite {
  left: 50%;
  background: linear-gradient(to right bottom, var(--whiteColor) 0%, var(--whiteColor) 49%, transparent 51%);
}
